

<span class="legal">&copy; {{ site.time | date: '%Y' }} {{ site.author.name }}. All rights reserved. 
<a href="https://www.thm.de/site/datenschutz.html">Datenschutz</a> 
<a href="https://www.thm.de/site/impressum.html">Impressum</a>
</span>
